<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    {% load static %}
    <link href="{% static '/assets/style.css' %}" rel="stylesheet" />
  </head>
  <body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <a href="{% url "dashboard" %}" style="text-decoration: none; color: inherit;">TailorTrack</a>
        </div>
        <div class="search-bar">
          <form method="GET" action="{% url 'order_list' %}" style="display: flex; align-items: center; width: 100%; position: relative;">
            <input
              type="text"
              id="searchInput"
              name="search"
              value="{{ search_query|default:'' }}"
              placeholder="Search customers or orders..."
              style="border: none; outline: none;  width: 100%; padding-right: 30px;"
            />
            <button type="submit" style="background: none; border: none; cursor: pointer; position: absolute; right: 0;">
              <span class="search-icon">🔍</span>
            </button>
          </form>
        </div>
        
        <div class="actions">
          <button class="add-order-btn" onclick="openNewOrderModal()">
            + New Order
          </button> 
          {% include './icon.html' %}
        </div>
      </div>
    </div>
  </header>

    <!-- Navigation Tabs -->
    <nav class="nav-tabs">
      <div class="container">
        <ul>
          <li>
            <a href="{% url "dashboard" %}"   class="tab-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
              >Dashboard</a
            >
          </li>
          <li>
            <a href="{% url "order_list" %}"  class="tab-link {% if request.resolver_match.url_name == 'order_list' %}active{% endif %}"
              >All Orders</a
            >
          </li>
          <li>
            <a href="{% url "customer_list" %}"   class="tab-link {% if request.resolver_match.url_name == 'customer_list' %}active{% endif %}"
              >Customers</a
            >
          </li>
          <li>
            <a href="{% url "payment_list" %}"   class="tab-link {% if request.resolver_match.url_name == 'payment_list' %}active{% endif %}"
              >Payments</a
            >
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    
    {% endblock content %}
  
    {% include "./create_order.html" %}

    <script src="{% static '/assets/main.js' %}"></script>
    
  </body>
</html>